<p>
  <strong>Billing Date</strong>
  <%= @billing_date.strftime("%b %Y") %>
</p>

<p>
  <strong>Tender Date</strong>
  <%= @tender_date.strftime("%b %Y") %>
</p>

<p>
  <strong>Result</strong>
  <%= @result %>
</p>

<p>
  <strong>Result Details</strong>
  <%= @result_descriptive %>
</p>

