<%= form_tag(import_formulas_path, :multipart => true) do %>
  <fieldset>
    <legend>Import Data Exported Excel</legend>
    <label for="file_import">Import File</label>
    <%= file_field_tag(:excel_file) %>
  </fieldset>
  <div class="buttons"><%= submit_tag("Upload", :class => "button")  %></div>
<% end %>