DEPRECATED!

Use Data <%= link_to("Export", data_export_formulas_path(:format => :xls)) %> instead to export data
and <%= link_to("New Import", new_import_formulas_path) %> to import data.

<% form_tag("#", :multipart => true) do %>
  <fieldset>
    <legend>Import Commodity Excel</legend>
    <label for="file_import">Import File</label>
    <%= file_field_tag(:excel_file) %>
  </fieldset>
  <div class="buttons"><%= submit_tag("Upload", :class => "button")  %></div>
<% end %>