<% form_for @category do |f| %>
  <fieldset>
    <legend>
      Formula Category
    </legend>
    <%= f.error_messages %>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </fieldset>
  <div class="buttons"><%= f.submit("Submit",:class => 'button') %></div>
<% end %>
